<h1 style="color: white">What Kind of Product are you Looking for?</h1>

<form action="/query" method="post">
  <p><input class="search-box" name="query" placeholder="Enter product type here.  Example: 'Jeans'"></textarea></p>
<p><input class="search-button" type="submit" value="Submit"></p>
</form>
