<div class="row" style="background-color: #00005C">
  <body class="background-image">
  <h1 class="headerbar" style="color: white; text-align: center; font-size: 50px">Factory Finder</h1>
</div>
<br><br>
<div class="row">
  <div class="col-xs-11 col-md-11 col-lg-11">
    <button type="submit"><a href="/register">New User</a></button>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1">
    <button type="submit"><a class="login-button" href="#">Login</a></button>
  </div>
</div>

<div class="box">
<a href="" class="simplemodal-close">X</a>
	<h1>Log in to Factory Finder</h1>
	<form action="/login" method="post">
		<p><input type="text" name="username" placeholder="Enter Your Username"></p>
		<p><input type="password" name="password" placeholder="Enter Your Password"></p>
		<p><input type="submit" value="Login"></p>
	</form>
</div>