<!-- This is the main page once you log in -->
<div class="row" style="background-color: #00005C">
  <h1 style="color: white; text-align: center; font-size: 70px">Factory Search</h1>
  <p><button type="button" class="btn btn-default pull-right"><a href="/logout">Logout</a></button></p>
</div>

<div class="row">

<div><%= erb :_search_box %></div>

<div class="results display">
	<p><%= erb :_results, locals: { results: @results }%></p>
</div>
  
</div>



