<h1>Sign up for a New Account</h1>
<form action="/register" method="post">
<p><input type="text" name="name" placeholder="your name"></p>
<p><input type="text" name="email" placeholder="your email"></p>
<p><input type="text" name="username" placeholder="choose a username"></p>
<p><input type="password" name="password" placeholder="choose a password"></p>
<p><input type="submit" value="Create Account"></p>
</form>

