<div class="row" style="background-color: #00005C">
  <body background="http://upload.wikimedia.org/wikipedia/commons/e/e5/SpaceX_factory.jpg">
  <h1 class="headerbar" style="color: white; text-align: center; font-size: 50px">Factory Finder</h1>
</div>
<br><br>
<div class="row">
  <div class="col-xs-11 col-md-11 col-lg-11">
    <button type="submit"><a href="/register">New User</a></button>
  </div>
  <div class="col-xs-1 col-md-1 col-lg-1">
    <button type="submit"><a href="/login">Login</a></button
  </div>
</div>
